$fontFamily: 'Montserrat', sans-serif;

$wrapperBgcolor: rgb(244, 245, 248);
$bgColor: rgb(255, 255, 255);
$inputBorderColor: rgb(220, 220, 220);
$headerColor: rgb(115, 88, 251);
$cardTextColor: rgb(167, 139, 254);
$headerBgColor: rgb(169, 113, 237);
$textColor: rgb(51, 51, 51);
$secondTextColor: rgb(14, 22, 33);
$asideTextColor: rgb(144, 144, 144);

$bigdestFontSize: 72px;
$textFontSize: 24px;
$middleFontWeight: 500;
$boldFontWeight: 900;
$textTransform: uppercase;
$blockBorderRadius: 5px;
$inputShadow: 0 1px 5px rgba(113, 85, 250, 0.5);
$blockShadow: -3px 4px 14px 1px rgba(0, 0, 0, 0.2), 0 0 71px 5px rgba(255, 255, 255, 0.71);
$bgImgGradient: linear-gradient(to right, #7257fb 0%, #bf7de7 100%);
$hoverBgImgGradient: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);